snippet each
	- ${1}.each do |${2}|
		${3}
snippet eachli
	- ${1}.each do |${2}|
		%li= ${3}
snippet ul
	%ul
		%li
			${1:item}
		%li
snippet =rp
	= render :partial => '${1:partial}'
snippet =rpl
	= render :partial => '${1:partial}', :locals => {}
snippet =rpc
	= render :partial => '${1:partial}', :collection => @$1
snippet linktot
	= link_to t("${1:i18n}"), ${2}_path
